* {
    padding: 0;
    margin: 0;
}

.container {
    max-width: 400px;
    align-items: center;
    padding: 10px;
}

.container-fluid {
    max-width: 400px;
}

.bg-success {
    background: #63c323 !important;
}

.center {
    text-align: center;
}

span {
    font-family: Poppins;
    font-size: 14px;
}

.mt-3 {
    margin-top: 20px;
}

.table {
    border: 0;
}
